<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.master.mapper.IllnessMapper">
  <resultMap id="BaseResultMap" type="cn.bdqn.master.pojo.Illness">
    <!--@mbg.generated-->
    <!--@Table illness-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="illness_name" jdbcType="VARCHAR" property="illnessName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, illness_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from illness
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from illness
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.bdqn.master.pojo.Illness" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into illness (illness_name)
    values (#{illnessName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.bdqn.master.pojo.Illness" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into illness
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="illnessName != null">
        illness_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="illnessName != null">
        #{illnessName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.master.pojo.Illness">
    <!--@mbg.generated-->
    update illness
    <set>
      <if test="illnessName != null">
        illness_name = #{illnessName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bdqn.master.pojo.Illness">
    <!--@mbg.generated-->
    update illness
    set illness_name = #{illnessName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="finIllness" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"></include>
      from illness
    </select>
</mapper>